.contentWrapper {
  z-index: var(--ch-z-popover);
  outline: none;
  animation: popoverSlideUpAndFade var(--ch-transition-fast);
  will-change: transform, opacity;
}

.content {
  padding: var(--ch-space-4);
  min-width: 220px;
}

@keyframes popoverSlideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(4px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
