# Global
NODE_ENV=development

# Backend
PORT=4000
MONGO_URI=mongodb://localhost:27017/civichub
REDIS_URL=redis://localhost:6379
JWT_SECRET=super_secret_jwt_key_replace_me_in_prod

# Frontend
VITE_API_URL=http://localhost:4000/api/v1
