# Global
NODE_ENV=development

# Backend
PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.3.8
REDIS_URL=redis://127.0.0.1:6379
JWT_SECRET=jrufbru49rfnfkf04jnfk3dsgydsgfvbchxvhvydgyfgdvxcvhxzbsygegg373vddvdfgvxvdgxcvxgcdhdvcgdc282bddv

# Frontend
VITE_API_URL=http://localhost:5173/api/v1

